:root {
    --badbuddhistred: #660202;
    --raisinblack: #282828;
    --ashgray: #93a29b;
    --metallicgold: #C8AD55;
    --mywhite: #f5f5f5;
}

header {
    background-color: var(--badbuddhistred);
    color: var(--mywhite);
    border: var(--ashgray) 3px solid;
    width: clamp(80%, 80%, 400px);
    margin: 0 auto;
    border-radius: 5px;
}

body {
    font-family: system-ui, sans-serif, serif;
    background-color: var(--mywhite);
}

.heroRow {
    text-align: center;
}

@media screen and (max-width: 430px) {
    header {
        width: 80%;
    }
    
}