html {
    font-size: 16px;
}

body {
    background: linear-gradient(to right, whitesmoke, darkslategrey);
    margin: 0;
    padding: 0;
}

.container {
    background: transparent;
}

/* In the body, I am creating a background where the color fades from one to the next, and I need to set each of 
the 'containers' to 'transparent', otherwise, each container of content would be blocking the background.*/

.geist-mono-base {  /* A variable font that I am using in the most basic sense possible, at least for now */
    font-family: "Geist Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-condensed-regular {
  font-family: "Ubuntu Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#header > * {
    height: 5vh;
    align-content: center;
    font-size: 1.5rem;
}

#headeritem, #headeritem1 {
    background-color: darkslategrey;
    color:rgb(207, 222, 230);
    flex-grow: 1; /* Distribute space evenly between column items by stretching boxes */
    padding: 0rem;
    text-align: center;
}

#headeritem1 {
    text-align: left;
}

@media (max-width: 768px) { /* When the screen moves to a medium size, then this rule will be updated, and it will 
                                    fall back when the screen becomes larger, once again.*/
    #headeritem1 {
        text-align: center;
    }
}
/* color of header font links */
a {
    color:rgb(207, 222, 230);
    text-decoration: none;
}

a:hover {           /* Adding an underline when the links on any of the pages are hovered over. */
    text-decoration: underline;
}




#heroRow > * {
    padding:3vh 3vh;
    margin: 0vh 1.5vh;
    flex-grow: 1;
}

#HeroImage {
    width: 100%;
    max-width: 30vw;
    height: auto; /* Maintain aspect ratio */
}

#heroRow .col-lg-6 {
    justify-content: center;
}

#LDinfo {
    font-size: 1.2rem;
    text-align: center;
    color: whitesmoke;
}

#textright{
    text-align: right;
    display: block;
    font-size: 2.5rem;
}

/* the media inquiries below are all used to for responsive design- all the max-widths that are below 768 are for
specific mobile devices- it ensures that most modern popular phones, at least between samsung and apple, will hold 
this content the way I would like it to.*/

@media (max-width: 1366px) {
    #HeroImage {
        max-width: fit-content;
    }
}

@media (max-width: 768px) {
    #LDinfo {
        color: black;
    }

}

@media (max-width: 768px) {
    #HeroImage {
        max-width: 60%;
    }
    #heroRow {
        margin-top: 16vh;
    }

}





#randomRow > *{
    margin: 3vh 0vh;
    align-content: center;
    height: 30dvh;
}

#disclaimerText .hover-disclaimer {
    display: none; /* Hide the detailed disclaimer by default */
    position: absolute; /* Position it for better control */
    top: 107%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff; /* Background for better visibility */
    color: #000; /* Text color */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100; /* Ensure it appears above other elements */
}
  
  #disclaimerText:hover .hover-disclaimer {
    display: block; /* Show the detailed disclaimer on hover */
}
  

/* These media queries below are for mobile devices */
@media (max-width: 431px) {
    #HeroImage {
        max-width: 60%;
    }
    #heroRow {
        margin-top: 1vh;
    }
    #randomRow > * {
        height: 40dvh;
    }
}


/* PROJECT PAGE CSS */

#projectRow {
    margin-top: 5vh;
}


#projectRow > * {
    border: 1px solid whitesmoke;
    flex-grow: 1;
    padding-top: 5vh;
}

.project-image {
    width: 50%;
    max-width: 20vw;
}


/* ABOUT ME PAGE CSS*/

#aboutRow > * {
    flex-grow: 1;
    margin-top: 5vh;
}

#meditationRow > * {
    margin: 5vh;
}

#blogsRow > *, #blogIntro > * {
    flex-grow: 1;
    height: 65dvh;
    text-align: center;
    align-content: center;
}

#blogInfo {
    padding: 0vh 20vh;
    margin-top: 3vh;
} 

#blogInfo p {
    font-size: 1.5rem;
}

#blogComingColumn {
    text-align: center;
    align-content: center;
    height: 35dvh;
}

@media (max-width: 1024px) {
   #blogInfo {
        padding: 0vh;
    } 
}

#underconstruction {
    margin-top: 3rem;
}

#underconstruction > * {
    padding-top: 1rem;
    align-content: center;
}

#underconimage {
    width: 50%;
    max-width: fit-content;
}

#underconstructiontext {
    padding: 0rem 4rem;
    color: #000;
    font-size: 1.3rem;
}

#underconstructionimage {
    font-size: 1.3rem;
}
#contact {
    text-align: center;
    align-content: center;
    padding:2rem 0rem;
}
#contact a {
    color: whitesmoke;
}

#contact span {
    font-size:.9rem;
}