body {
    background: linear-gradient(to right, whitesmoke, darkslategrey);
    margin: 0;
    padding: 0;
}

.container {
    background: transparent;
}

/* In the body, I am creating a background where the color fades from one to the next, and I need to set each of 
the 'containers' to 'transparent', otherwise, each container of content would be blocking the background.*/

.geist-mono-base {  /* A variable font that I am using in the most basic sense possible, at least for now */
    font-family: "Geist Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }



#header {
    height: 5vh;
}


#headeritem {
    background-color: darkslategrey;
    color: whitesmoke;
    flex-grow: 1; /* Distribute space evenly between column items by stretching boxes */
    padding: 0em;
    text-align: center;
}

#headeritem1 {
    background-color: darkslategrey;
    color: whitesmoke;/* this is the color of the header text item 1 */
    flex-grow: 1; /* Distribute space evenly between column items by stretching boxes, used in conjunction with the html class 'd-flex' I believe in the parent. */
    padding: 0em;
    text-align: left;
}

@media (max-width: 768px) { /* When the screen moves to a medium size, then this rule will be updated, and it will 
                                    fall back when the screen becomes larger, once again.*/
    #headeritem1 {
        text-align: center;
    }
}
/* color of header font links */
* a {
    color:rgb(207, 222, 230);
    text-decoration: none;
}

* a:hover {           /* Adding an underline when the links on any of the pages are hovered over. */
    text-decoration: underline;
}




#heroRow > * {
    padding:3vh 3vh;
    margin: 0vh 1.5vh;
    flex-grow: 1;
}

#HeroImage {
    width: 100%;
    max-width: 30vw;
    height: auto; /* Maintain aspect ratio */
}

#heroRow .col-lg-6 {
    justify-content: center;
}

#LDinfo {
    font-size: .9em;
    text-align: center;
    color: whitesmoke;
}

#textright{
    text-align: right !important;
    display: block;
    font-size: 1.75em;
}

/* the media inquiries below are all used to for responsive design- all the max-widths that are below 768 are for
specific mobile devices- it ensures that most modern popular phones, at least between samsung and apple, will hold 
this content the way I would like it to.*/

@media (max-width: 1366px) {
    #HeroImage {
        max-width: fit-content;
    }
}

@media (max-width: 768px) {
    #LDinfo {
        color: black;
    }

}

@media (max-width: 768px) {
    #HeroImage {
        max-width: 60%;
    }
    #heroRow {
        margin-top: 16vh;
    }
}

@media (max-width: 431px) {
    #HeroImage {
        max-width: fit-content;
    }
    #heroRow {
        margin-top: 12vh;
    }
}

@media (max-width: 415px) {
    #HeroImage {
        max-width: fit-content;
    }
    #heroRow {
        margin-top: 14vh;
    }

}

@media (max-width: 391px) {
    #HeroImage {
        max-width: fit-content;
    }
    #heroRow {
        margin-top: 14vh;
    }
}

@media (max-width: 376px) {
    #HeroImage {
        max-width: fit-content;
    }
    #heroRow {
        margin-top: 20vh;
    }
}


#randomRow > *{
    margin: 3vh 0vh;
}

/* PROJECT PAGE CSS */

#projectRow {
    margin-top: 5vh;
}

#projectRow {
    margin-top: 5vh;

}

#projectRow > * {
    border: 1px solid black;
    flex-grow: 1;
    height: fit-content;
    padding-top: 5vh;
}

.project-image {
    width: 50%;
    max-width: 20vw;
}

#exampleColumn {
    text-align: center; /* I have text-align filling both columns as a placeholder. So far I am declaring everything above
    with the parent tag, and directing it to ALL of it's children */
}

#projectTextColumn {
    text-align: center; /* I have text-align filling both columns as a placeholder */
}

/* ABOUT ME PAGE CSS*/

#aboutRow > * {
    flex-grow: 1;
    margin-top: 5vh;
}

#meditationRow > * {
    margin: 5vh;
}