html {
    font-size: 16px;
}

body {
    background: linear-gradient(to right, rgb(147, 144, 144), rgb(22, 1, 12));
    margin: 0;
    padding: 0;
    color:rgb(184, 184, 184);
}

.container {
    background: transparent;
}

/* In the body, I am creating a background where the color fades from one to the next, and I need to set each of 
the 'containers' to 'transparent', otherwise, each container of content would be blocking the background.*/

.bebas-neue-regular {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}

  
/* <uniquifier>: Use a unique and descriptive class name */
.agu-display-fixit {
    font-family: "Agu Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "MORF" 0;
}

.playwrite-de-grund-guides-regular {
    font-family: "Playwrite DE Grund Guides", serif;
    font-weight: 800;
    font-style: normal;
}

.titillium-web-regular {
    font-family: "Titillium Web", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .titillium-web-semibold {
    font-family: "Titillium Web", serif;
    font-weight: 600;
    font-style: normal;
  }

.recoveryTitleBox {
    color:rgba(245, 245, 245, 0.414);
    background-color: rgba(0, 0, 50, 0.1);
    border-radius: 20px;
    width: fit-content;
    margin: 0 auto;
    box-shadow: #1313138e 5px 5px 15px;
}
.recoveryTitle1 {
    font-size: 1.5rem;
}
.recoveryTitle2 {
    font-size: 3rem;
}



#badbuddhistColumnImage {
    box-shadow: #470909 -2px 2px 10px;
    border-radius: 1rem;
    width: 260px;
    max-width: none;
    background-color: whitesmoke;
    }
  
#writingImage {
    border-radius: 30px;
    box-shadow: #000 5px 5px 15px;
}




.geist-mono-base {  /* A variable font that I am using in the most basic sense possible, at least for now */
    font-family: "Geist Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-condensed-regular {
  font-family: "Ubuntu Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mrfixittitle {
    font-size: 2rem;
    text-decoration: underline;
    box-shadow: 10px 10px 10px rgba(35, 35, 35, 0.368);
    width: 40%;
    margin: 60px auto 0px;
    color: black;
    background-color: rgba(94, 1, 70, 0.23);
    border-radius: 40px;
    border:#000 3px dotted;
}



#header > * {
    height: 5vh;
    align-content: center;
    font-size: 1.5rem;
}

#headeritem, #headeritem1 {
    background-color: rgb(22, 1, 12);
    color:rgb(207, 222, 230);
    flex-grow: 1; /* Distribute space evenly between column items by stretching boxes */
    padding: 0rem;
    text-align: center;
}

#headeritem1 {
    text-align: left;
}

@media (max-width: 768px) { /* When the screen moves to a medium size, then this rule will be updated, and it will 
                                    fall back when the screen becomes larger, once again.*/
    #headeritem1 {
        text-align: center;
    }
}
/* color of header font links */
a {
    color:rgb(207, 222, 230);
    text-decoration: none;
}

a:hover {           /* Adding an underline when the links on any of the pages are hovered over. */
    text-decoration: underline;
}


#heroRow > :first-child {
    flex-grow: 1;
    justify-content: center;
}

#HeroImage {
    width: 65%;
    max-width: 80%;
    height: auto; /* Maintain aspect ratio */
    border-radius: 60px;
    box-shadow: #000 -5px 5px 15px;
}

#heroImageCol {
    align-items: center;
    text-align: center;
}

#LDinfo {
    font-size: 1.5rem;
    text-align: right;
    padding-right: 1remrem;
    margin-right: 0rem;
    justify-content: right;
    padding-top: 1rem;
}

#dateText {
    font-size: .95rem;
}

#watercooledImage {
    border-radius: 20px;
    box-shadow: #000 -5px 5px 15px;
}



#constructionText {
    font-size: 1.2rem;
    text-align: center;
    color: whitesmoke;
}

#textright{
    text-align: right;
    font-size: 2.5rem;
}

/* the media inquiries below are all used to for responsive design- all the max-widths that are below 768 are for
specific mobile devices- it ensures that most modern popular phones, at least between samsung and apple, will hold 
this content the way I would like it to.*/

@media (max-width: 1366px) {
    #HeroImage {
        max-width: fit-content;
    }
}

@media (max-width: 768px) {
    #LDinfo, #constructionText {
        color:rgb(184, 184, 184);
    }
    #heroRow > * {
        padding: 1vh;
    }

}

@media (max-width: 768px) {
    #HeroImage {
        max-width: 80%;
    }

}

/* These media queries below are for mobile devices */
@media (max-width: 431px) {
    #HeroImage {
        max-width: 60%;
    }
    #randomRow > * {
        height: 40dvh;
    }
    #disclaimerText .hover-disclaimer {
        position: relative; /* Position it for better control, here it is relative to parent */
        top: auto;
        left: auto;
        transform: translateX(0%); /* Reset the transform */
    }

}


#randomRow > * {
    flex-grow: 1;
    padding: 1rem;
    height: 60dvh;
    align-content: center;
    font-size:1.2rem;
}

#randomRow > :first-child {
    text-align: center;
    padding-bottom: 1rem;
}
#disclaimerText .hover-disclaimer {
    display: none; /* Hide the detailed disclaimer by default */
    position: relative; /* Position it for better control */
    transform: translateX(0%) translateY(-75%);
    background-color: #fff; /* Background for better visibility */
    color: #000; /* Text color */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100; /* Ensure it appears above other elements */
    font-size: .9rem;
}
  
  #disclaimerText:hover .hover-disclaimer,
  #disclaimerText:focus .hover-disclaimer,
  #disclaimerText:active .hover-disclaimer {
    display: block; /* Show the detailed disclaimer on hover */
}
  
.latestHeader {
    font-size: 2rem;
    text-align: center;
    border-bottom: 10px solid whitesmoke;
    box-sizing: border-box;
    width: 108%;
    margin: 0;
}

.latestContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#latestPost {
    margin-top: 18rem;
}

/* PROJECT PAGE CSS */

#listColumn {
    font-size: 1.5rem;
}

#contentDisplayColumn {
    font-size: 1rem;
}

#projectRow > * {
    border: 1px solid whitesmoke;
    flex-grow: 1;
    padding-top: 2rem;
}

.project-image {
    width: 45%;
    max-width: 18vw;
    border-radius: 20px;
    box-shadow: #000 -5px 5px 15px;
    margin: 2rem 0rem;
}

#aboutPhoto {
    border-radius: 30px;
    margin-top: 2rem;
    width: fit-content;
    box-shadow: #000 -5px 5px 15px;
}

/* ABOUT ME PAGE CSS*/

#aboutRow > * {
    flex-grow: 1;
    margin-top: 5vh;
}

#meditationRow > * {
    margin: 5vh;
}

#blogImage {
    align-content: center;
    padding: 3rem;
}

#blogImage p {
    text-align: right;
    padding-right: 2rem;
}


#blogsRow > * {
    flex-grow: 1;
    text-align: center;
    align-content: center;
    padding: .75rem 2rem;
}

#blogInfo {
    padding: 2rem 2rem 0rem;
    box-sizing: border-box;
    position: relative;
}

#blogInfo p {
    font-size: 1.5rem;
    position: absolute;
}

#blogIntro > *{
    height:75dvh;
}

#biggerText {
    font-size: 1.4rem;
}

#smallerText {
    font-size: 1rem;
}

#contextText {
    font-size:1.2rem;
    box-sizing: border-box;
    align-content: center;
    text-align: left;
    margin: 0 auto;
}

#blogComingColumn {
    text-align: center;
    align-content: center;
    padding: 1rem;
}



#underconstruction {
    margin-top: 3rem;
}

#underconstruction > * {
    padding-top: 1rem;
    align-content: center;
}

#underconimage {
    width: 50%;
    max-width: fit-content;
}

#underconstructiontext {
    padding: 0rem 4rem;
    color: #000;
    font-size: 1.3rem;
}

#underconstructionimage {
    font-size: 1.3rem;
}
#contact {
    text-align: center;
    align-content: center;
    padding:2rem 0rem;
}
#contact a {
    color: whitesmoke;
}

#contact span {
    font-size:.9rem;
}

#musicInfoCol {
    padding:1rem;
}
#musicImageCol {
    align-items: center; /* Optional: Align vertically if needed */
    padding : 1rem;
}

#musicImage {
    width: 45%;
    max-width: fit-content;
    border-radius: 30px;
}

#musicInfoCol {
    align-content: center;
    padding-left: 1.5rem;
}

#musicTracks {
    padding: 1rem;
}

#aboutIntroTextCol {
    text-align: right;
    padding: 3rem 2rem 1rem;
    font-size: 1.5rem;
}

#aboutPresent, #aboutPresentText {
    text-align: right;
    font-size: 1.5rem;
    flex-grow: 1;
}


#aboutIntroImgCol{
    font-size: 1rem;
    align-content: center;
    text-align: center;
    padding: 0rem 3rem;
}

#borderline {
    font-size: 2rem;
}

#aboutIntroImg {
    width: 100%;
    max-width: 100%;
    border-radius: 30px;
    box-shadow: #000 -5px 5px 5px;
}

#aboutIntroImgCol p {
    margin-top: 1rem;
}

.title {
    text-align: center;
}

#words {
    font-size: 1.8rem;
    font-style: italic;
}

#big {
    font-size: 2.5rem;
    color: whitesmoke;
}

#aboutMiddle > * {
    text-align: right;
}

#aboutMiddle,  #aboutNext, #aboutBeginning, #aboutEnd {
    font-size: 1.5rem;
}

/* Style for modal background */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8); /* Black with opacity */
}

.modal-content {
    margin: auto;
    display: block;
    width: fit-content;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 25px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.modal img {
    max-height: 90vh;
    max-width: 90vw;
}

.modal img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

  